<h1>Dashboard</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1"> <!-- container for dashboard -->

				<div class="col-xs-12 col-md-12 db-quicklinks">
					Guidelines / Videos / goals
				</div>

				<!-- START NUMBERS GAME -->

				<div class="col-xs-6 col-md-3 db-postnumber">
					<span><%= @last_7_day_post_count %></span>
				</div>

				<div class="col-xs-6 col-md-3 db-facebook">
					<span><%= @last_7_day_post_count %></span>
				</div>

				<div class="col-xs-6 col-md-3 db-twitter">
					<span><%= @last_7_day_post_count %></span>
				</div>

				<div class="col-xs-6 col-md-3 db-youtube">
					<span><%= @last_7_day_post_count %></span>
				</div>


		</div>

	</div> <!-- end row -->
</div> <!-- end dashboard container -->
