/* SCSS for Pre-alpha E */

/* index page */

/* ideally we should see the navigation bar, coalescing of different kinds of posts, sign up, log in, etc etc .. */


.new-post {
	font-family: Helvetica 'Neue', Helvetica, Arial, sans-serif;
	padding: 0 0 0 1rem;
}

.new-post a, .new-post a:visited {
	color: #444;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
}

.new-post:before {
		font-family: 'FontAwesome';
		font-size: 2rem;
		color: #333;
		padding: 0 0 0 0.5rem;
        content: "\f044";
}


.create-new-post {

}


.post-title-field input {
	width: 100%;
	border: none;
	border-bottom: 5px solid #333;
}

.post-title-area textarea {
	width: 100%;
	border: 1px solid 333;
	font-family: Helvetica, arial, sans-serif;
	font-size: 2rem;
	font-weight: bold;
}