/* SCSS for Pre-alpha E */

/* index page */

/* ideally we should see the navigation bar, coalescing of different kinds of posts, sign up, log in, etc etc .. */


$stdfont: Helvetica 'Neue', Helvetica, Arial, sans-serif;

/* flash notices */

.flash.notice {
	background-color: #2ecc71;
	font-family: $stdfont;
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2rem;
}

.new-post {
	font-family: Helvetica 'Neue', Helvetica, Arial, sans-serif;
	padding: 0 0 0 1rem;
}

.new-post a, .new-post a:visited {
	color: #444;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
}

.new-post:before {
		font-family: 'FontAwesome';
		font-size: 2rem;
		color: #333;
		padding: 0 0 0 0.5rem;
        content: "\f044";
}


.create-new-post {

}

textarea:focus, input:focus{
    outline: 0;
}

.form-field {
	margin-top: 1rem;
}

	.form-field label {
		font-family: $stdfont;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: 100;
		background-color: #666;
		color: #fff;
		padding: 5px;
		letter-spacing: 0.15rem;
	}

.post-title-field input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #333;
	font-family: $stdfont;
	font-size: 4rem;
	font-weight: 900;
	text-transform: uppercase;
}

.post-title-area textarea {
	width: 100%;
	border: 1px solid 333;
	font-family: Helvetica, arial, sans-serif;
	font-size: 2rem;
	font-weight: bold;
}

.rad-textarea textarea {
	margin: 1rem 0 1rem 0;
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: $stdfont;
	font-size: 1.6rem;
	word-spacing: 0.16rem;
	background-image: url(http://i.imgur.com/RcrYiFC.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.submit-post-button input {
	display: inline-block;
	background-color: #f65d5d;
	color: #333;
	padding: 0.5rem;
	font-family: $stdfont;
	font-weight: 100;
	letter-spacing: 0.35rem;
	font-size: 3.5rem;
	border: none;
	text-transform: uppercase;
	float: right;
	margin-top: 1rem 0 1rem 0;
	transition: .25s all;

}

	.submit-post-button input:hover {
		background-color: #ccc;
		color: #333;
		transition: .25s all;
	}