    <span class="comment-author">
    <%= comment.user %> said:
    </span>

	<p class="comment-text">
	<%= raw(comment.content) %> 
	</p>

	<span class="comment-time">
	<%= comment.created_at.strftime('%m/%d/%Y at %I:%M %p') %>
	</span>

	
	