

         <% @posts.each do |p| %>

          <p class="index-writing"><%= link_to p, post_path(p) %> </p>

              <% if admin_signed_in? %>;
                <%= link_to "Edit", edit_post_path(p) %>
                <%= link_to 'Destroy', post_path(p), method: :delete, data: { confirm: 'Are you sure?' }%> 
              <%end%>


          <% end %>
