 	
 
 	<div class="row posts-index">
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- left side -->
			<div class="col-xs-12 col-md-8">
				<p><%= render partial: "smallpost" %></p>
			</div>
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- right side -->
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- left side -->
			<div class="col-xs-12 col-md-8">
				<% if user_signed_in? %>
					<span class="new-post">
					<%= link_to 'Create', new_post_path %>
					</span>
				<%end%>
			</div>
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- right side -->
	</div>


<!-- this is a comment -->