 	<div class="row posts-index">
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- left side -->
			<div class="col-xs-12 col-md-8">
				<p><%= render partial: "smallpost" %></p>
			</div>
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- right side -->
	</div>

	<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<div class="col-xs-6 col-md-3">FB<i class="fa fa-facebook fa-5x"></i></div>
				<div class="col-xs-6 col-md-3">TW<i class="fa fa-twitter fa-5x"></i></div>
				<div class="col-xs-6 col-md-3">SC<i class="fa fa-soundcloud fa-5x"></i></div>
				<div class="col-xs-6 col-md-3">YT<i class="fa fa-youtube fa-5x"></i></div>
			</div>
	</div>