 	<div class="row navigation-bar">
			<div class="col-xs-12 col-md-8 col-md-offset-2 navigation-bar">
				<h1>Radcircle Engineering</h1>
					<h2>About</h2>
					<h2>Team</h2>
					<h2>|</h2>
					<h2 class="login-nav-btn">Login</h2>
					<h2 class="signup-nav-btn">Sign Up</h2>
			</div>
	</div>

 	<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 create-new-post">
				<h1>Create a work of art. Write something awesome.</h1>
			</div>
	</div>

<%= render partial: 'form' %>