	<div class="row">
	<div class="col-xs-12 col-md-12 underbar">
	</div>
	</div>

	<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 create-new-post">
				<h1>Create a work of art. Write something awesome.</h1>
			</div>
	</div>

<%= render partial: 'form' %>
