<% if user_signed_in? %>
<%= form_for :basecamp, url: basecamps_path do |f| %>

 <div class="col-xs-12 col-md-10 col-md-offset-1 form-text-field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
 
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <%= f.submit %>
  </div>

<% end %>
<%else%>
 <h1> Please Sign In to post feedback </h1>
 <%end%>