// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#team-intro{
  margin: 4rem 0;
  text-align: center;
  font-size: 48px;
  p { 
    font-size: 2.5rem; 
    color: lighten(#333, 25); 
  }
}
 
#team-members{
  .col-md-3 { margin-bottom: 1.5rem; }
  h2 { font-size: 2.5rem }
  p { 
    font-size: 1.5rem; 
    color: lighten(#333, 25); 
  }
}
